{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for progam in programs %}
            <tr>
                <td>{{ progam.id }}</td>
                <td>{{ progam.title }}</td>
                <td>{{ progam.synopsis }}</td>
                <td>{{ progam.poster }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_program_new') }}">Create new</a>
{% endblock %}
